@import 'normalize.css';

:root {
   --primary: rgb(251, 100, 126);
   --default-layout-header-height: 60px;
   --default-layout-width: 1150px;
   --black: #000;
   --white: #ffffff;
   --text-color: #33333d;
   --default-layout-horizontal-spacer: 24px;
}
html {
   font-size: 62.5%;
}
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
body {
   font-family: Segoe UI, sans-serif;
   color: #383838;
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizeLegibility;
   overflow-y: overlay;
}
///scrollbar
html *::-webkit-scrollbar {
   border-radius: 0;
   width: 8px;
}
html *::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabbindex] {
   outline: none;
   border: none;
}
a {
   color: var(--text-color);
   text-decoration: none;
}
//custo tippy toolti
body {
   .tippy-box {
      background-color: rgba(84, 84, 84, 0.92);
      font-size: 1.6rem;
      line-height: 2.2rem;
      font-weight: 500;
   }
   .tippy-arrow {
      color: rgba(84, 84, 84, 0.92);
   }
   .tippy-content {
      padding: 8px 9px;
   }
}
