@import 'normalize.css';

:root {
   --primary: pink;
   --default-layout-header-height: 60px;
   --default-layout-width: 1150px;
   --black: #000;
   --text-color: #333;
}
html {
   font-size: 62.5%;
}
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
body {
   font-family: Segoe UI, sans-serif;
   color: #383838;
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizeLegibility;
}
button,
input,
[tabbindex] {
   outline: none;
   border: none;
}
a[href] {
   color: var(--text-color);
   text-decoration: none;
}
