@keyframes rotateAnimation {
   0% {
      transform: scaleY(0.65);
   }
   20% {
      transform: scaleY(1.1);
   }
   40% {
      transform: scaleY(0.9);
   }
   60% {
      transform: scaleY(1.05);
   }
   80% {
      transform: scaleY(0.95);
   }
   100% {
      transform: scaleY(1);
   }
}
.rotate {
   transform-origin: bottom;
   animation: rotateAnimation 0.6s ease-in-out;
}
.svgMess {
   padding: 4px;
}
