.wrapper {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 1.6rem;
   font-weight: 700;
   min-width: 100px;
   padding: 9px 16px;
   border-radius: 4px;
   cursor: pointer;
   font-family: Segoe UI, sans-serif;
   background-color: white;
   border: 1px solid transparent;
   user-select: none;
   + .wrapper {
      margin-left: 8px;
   }
   &.disable {
      pointer-events: none;
      opacity: 0.5;
   }
   &:hover .icon {
      transform: scale(1.2);
   }
}
.icon {
   display: inline-block;
   width: 20px;
   text-align: center;
   transition: transform 0.2s ease-in-out;
   color: var(--text-color);
}
.icon + .title,
.title + .icon {
   margin-left: 8px;
}
.rounded {
   border-radius: 100px;
   box-shadow: 0 2px 8px rgb(0 0 0/6%);
   border-color: rgba(22, 24, 35, 0.12);
   &:hover {
      background-color: rgba(50, 54, 78, 0.12);
   }
}
.primary {
   background-color: var(--primary);
   color: white;
   border-color: var(--primary);
   &:hover {
      background-color: #f97a8f;
      border-color: var(--primary);
   }
}
.outline {
   border-color: var(--primary);
   color: var(--primary);
   &:hover {
      border-color: var(--primary);
      background-color: rgb(255, 223, 239);
   }
}
.small {
   min-width: 88px;
   padding: 4px 16px;
}
.large {
   min-width: 140px;
   padding: 14px 16px;
}
.text {
   &:hover {
      text-decoration: underline;
   }
}
.title {
   font-weight: 500;
   //color: var(--text-color);
}
