.wrapper {
   width: 100%;
   height: var(--default-layout-header-height, 60px);
   box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
   display: flex;
   justify-content: center;
}
.inner {
   height: 100%;
   width: var(--default-layout-width);
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {
   height: 100%;
   width: 150px;
   overflow: hidden;
   display: flex;
   align-items: center;
}
.search {
   position: relative;
   display: flex;
   width: 361px;
   height: 46px;
   background-color: rgba(22, 24, 35, 0.06);
   border-radius: 92px;
   padding-left: 16px;
   border: 1px solid rgba(22, 24, 35, 0.06);
   input {
      caret-color: var(--primary);
      flex: 1;
      color: var(--black);
      font-size: 1.6rem;
      background-color: transparent;
      padding: 14px 0px 13px 0px;
   }
   input:not(:placeholder-shown) ~ .search-btn {
      color: black;
   }
   &::after {
      content: '';
      position: absolute;
      width: 0.05rem;
      top: 9px;
      right: 52px;
      height: 28px;
      background-color: rgba(22, 24, 35, 0.34);
   }
   &:hover {
      border: 1.5px solid rgb(164, 161, 161);
   }
   &:focus {
      border: 1.5px solid rgb(164, 161, 161);
   }
}
.clear,
.loading {
   position: absolute;
   color: rgba(22, 24, 35, 0.34);
   right: 60px;
   top: 50%;
   transform: translateY(-50%);
}

.search-btn {
   width: 52px;
   height: 100%;
   border-radius: 0px 50px 50px 0px;
   font-size: 18px;
   color: rgba(22, 24, 35, 0.34);
   &:hover {
      cursor: pointer;
      background-color: rgba(14, 14, 20, 0.06);
   }
   &:active {
      background-color: rgba(138, 141, 154, 0.06);
   }
}

.action {
   width: 100px;
   height: 50px;
   background-color: red;
}
