.search {
   position: relative;
   display: flex;
   width: 361px;
   height: 46px;
   background-color: rgba(22, 24, 35, 0.06);
   border-radius: 92px;
   padding-left: 16px;
   border: 1px solid rgba(22, 24, 35, 0.06);
   input {
      caret-color: var(--primary);
      flex: 1;
      color: var(--black);
      font-size: 1.6rem;
      background-color: transparent;
      padding: 14px 0px 13px 0px;
   }
   input:not(:placeholder-shown) ~ .search-btn {
      color: black;
   }
   &::after {
      content: '';
      position: absolute;
      width: 0.05rem;
      top: 9px;
      right: 52px;
      height: 28px;
      background-color: rgba(22, 24, 35, 0.34);
   }
   &:hover {
      border: 1.5px solid rgb(164, 161, 161);
   }
   &:focus {
      border: 1.5px solid rgb(164, 161, 161);
   }
}

.search-result {
   width: 361px;
}
.search-title {
   color: rgba(22, 24, 35, 0.5);
   font-size: 1.4rem;
   padding: 5px 12px;
}
.clear,
.loading {
   position: absolute;
   color: rgba(22, 24, 35, 0.34);
   right: 60px;
   top: 50%;
   transform: translateY(-50%);
}
.loading {
   animation: spinner 1s linear infinite;
}
@keyframes spinner {
   from {
      transform: translateY(-50%) rotate(0);
   }
   to {
      transform: translateY(-50%) rotate(360deg);
   }
}

.search-btn {
   width: 52px;
   height: 100%;
   border-radius: 0px 50px 50px 0px;
   font-size: 18px;
   color: rgba(22, 24, 35, 0.34);
   &:hover {
      cursor: pointer;
      background-color: rgba(14, 14, 20, 0.06);
   }
   &:active {
      background-color: rgba(138, 141, 154, 0.06);
   }
}
